{
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "semi": true,
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.mts"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
